<nav class="navbar navbar-default navbar-fixed-bottom"
  <div class="container-fluid">
    <a href="/new"><button type="button" id="new-note" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span></button></a></li>
  </div>
</nav>
