<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <a href="#">
      <span class="glyphicon glyphicon-star pull-left icon"></span>
    </a>
    <a href="/new">
      <button type="button" id="new-note" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </a>
    <a href="#">
      <span class="glyphicon glyphicon-cog pull-right icon"></span>
    </a>
  </div>
</nav>
