<div class="form-group">
  <input type="text"
         class="form-control"
         id="title"
         name="title"
         placeholder="title"
         aria-label="title"
         value="<%= note.title %>">
  </input>
</div>

<div class="form-group">
  <textarea class="form-control" rows="22" placeholder="content" id="content" name="content" aria-label="content" wrap="hard"><%= note.content %></textarea>
</div>
