<div class="row">
  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <input type="text"
           class="form-control"
           id="title"
           name="title"
           placeholder="Title"
           aria-label="title"
           value="<%= note.title %>">
    </input>
  </div>
</div>

<div class="row">
  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <textarea class="form-control" rows="22" placeholder="Content" id="content" name="content" aria-label="content" wrap="hard"><%= note.content %></textarea>
  </div>
</div>
