<% include header %>

      <main>
        <div>
          <form class="note-form" action="/" method="post">
            <% include form %>
            <button id="create-note" type="submit" class="icon glyphicon glyphicon-save"></button>
          </form>
        </div>
      </main>
    <div>
  </body>
</html>
